# Copyright (c) 2022 weteor
# SPDX-License-Identifier: MIT

if BOARD_KLACKER_BS

config BOARD
        default "Klacker BS"

config ZMK_KEYBOARD_NAME
        default "Klacker BS"

if USB

config USB_NRFX
        default y

config USB_DEVICE_STACK
        default y

endif # USB

config BT_CTLR
        default BT

config ZMK_BLE
        default y

config ZMK_USB
        default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
        default y

endif # BOARD_KLACKER_BS
